{
    "slackToken": "xoxb-replace-me",
    "jiraToken": "jira-oauth-token",
    "jiraTokenSecret": "jira-token-secret",
    "jiraConsumerKey": "jira-consumer-key",    
    "jiraPrivateKeyFile": "./jira_privatekey.pem",
    "project": "SOMEPROJECT"
}
